ul {
    list-style: none;
}

li {
    text-align: left;
    padding-left: 11px;
    border-bottom: 1px solid lightgray;
}

/* styles for card titles  */

.card-styles {
    font-size: 25px;
}

img {
    height: 120px;
    width: 120px;
}

/* styles for five day forecast colors */

.fiveDayStyles {
    padding: 20px;
    float: left;
    margin: 10px;
    background-color: #1E90FF;
    border: 1px solid rgb(231, 231, 231);
    color: rgb(255, 255, 255);
}